.box-1 {
    background-color: red;
    width: 600px;
    height: 200px;
}
.box-1_1 {
    background-color: gray;
    width: 100px;
    height: 100px;
}

.box-2 {
    background-color: blue;
    width: 300px;
    height: 400px;
}
.box-2_1 {
    background-color: gray;
    width: 100px;
    height: 250px;
}